.header{
    margin: auto;
    width: 99%;
    padding: 10px;
    border-style: solid;
    border-color: black;
    background-color: rgb(235, 235, 235);
}

.footer{
    margin: auto;
    width: 99%;
    padding: 10px;
    border-style: solid;
    border-color: black;
    background-color:  rgb(235, 235, 235);
    position: fixed;
    bottom: 0;
}

.centeredText{
    text-align: center;
}

.navLink{
    height: 20px;
    width: 200px;
}

.articles{
    height: 640px;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    background-color: honeydew;
    padding-left: 5px;
}

.horizontalDiv{
    display: flex;
}

.aside{
    height: 360px;
    width: 640px;
    border-style: solid;
    border-width: 1px;
    background-color: white;
}
.canvas{
    border-style: solid;
    border-width: 1px;
    height: 150px;
    width: 150px;

}

.threejs{
    border-style: solid;
    border-width: 1px;
    height: 360px;
    width: 640px;

}